/* CARD CSS  */

.card {
  display: flex;
  border-radius: 5px;
  border-width: 1px;
  border: var(--accent-color);
  background-color: var(--main-background-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* BAND */

.taskbar {
  display: flex;
  justify-content: center;
  background-color: var(--panel-color);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  height: 90px;
  align-items: stretch;
}

.taskbar > * {
  margin: 16px;
  color: var(--card-content-color);
  line-height: 0;
}

.taskbar h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

.taskbar Button{
  display: block;
  font-size: medium;
  font-weight: bold;
  font-weight: 400;
  aspect-ratio: 1;
  background-color: var( --action-destructive-color);
  color: var(--action-destructive-label-color);
  margin: 10px;
}

.taskbar Button.paused {
  color: var( --action-green-label-color);
  background-color: var(--action-green-color);
}

.taskbar Button.active {
  color: var(--action-contstructive-label-color);
  background-color: var(--action-contstructive-color);
}

.taskbar .round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-dark-color);
  color: var(  --primary-light-color);
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
}
.tasks {
  background-color: bisque;
}
/* TIME TRACKER */

.time-tracker {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-evenly;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-weight: 400;
  padding: 6px 6px 6px 10px;
  margin: 10px;
  width: 120px;
}

.time-tracker  .time {
  font-weight: 600;
  font-size: x-large;
}


/* LOGIN SSO CARD */
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 10px;
  text-align: center;
  background-color: var(--action-secondary-color);
}

.login-box Button {
  width: 120px;
  height: 44px;
  border-radius: 6px;
  border-color: var(--card-title-color);
  border-width: 1px;
  color: var(--action-contstructive-label-color);
  background-color: var(--action-contstructive-color);
}


/* Date Panel */

.datepanel {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-evenly;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-size: medium;
  font-weight: bold;
  font-weight: 400;
  padding: 6px 6px 6px 10px;
  margin: 10px;
  width: 160px;
  background-color: car(--accent-color);
}

.datepanel .day {
  font-weight: bold;
}

.datepanel .date {
  font-weight: bold;
}

.datepanel .time {
  font-size: xx-large;
}

/* PunchInPanel */

.punchinpanel {
  height: 120px;
  display: flex;
  align-items: stretch;
  border-radius: 0px;
}

#btn-punch-in {
  color: var(--action-green-label-color);
  background-color: var(--action-green-color);
}

#btn-punch-out {
  color: var(--action-destructive-label-color);
  background-color: var(--action-destructive-color);
}

.paused-tracker {
  background-color: #ffa28538;
}

.active-tracker {
  background-color: #baff8538;
}

.empty-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: var(  --empty-view-bg-color);
  color: var( --empty-view-color);
}

.empty-view .react-icons {
  font-size: 100px;
  
}

/* Work Orders */

.work-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding: 10px;
  text-align: center;
  background-color: var(--action-secondary-color);
}

.work-order-cell {
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
}

/* WORK ORDER CELL */

.work-order-cell__details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.work-order-cell__title {
  font-size: 16px;
  font-weight: bold;
}

.work-order-cell__subtitle {
  font-size: 14px;
  color: #666;
}

.work-order-cell__actions {
  display: flex;
  gap: 20px;
}

.work-order-cell__actions Button{
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px 10px 10px 15px;
  aspect-ratio: 1;
}

Button.edit {
  color: var(--action-contstructive-label-color);
  background-color: var(--action-contstructive-color);
}

Button.delete {
  color: var(--action-destructive-label-color);
  background-color: var(--action-destructive-color);
}
/* 
.work-order-cell__edit-button,
.work-order-cell__delete-button {
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.work-order-cell__edit-button:hover,
.work-order-cell__delete-button:hover {
  background-color: #005a9e;
}

.work-order-cell__delete-button {
color: var(--action-destructive-label-color);
  background-color: var(--action-destructive-color);
} */
