/* CARD CSS  */

.card  {
  display: flex;
  border-radius: 5px;
  background-color: var(--card-bg-color);
  border-width: 1px;
  border: var(--accent-color);
  margin: 6px;
  padding: 3px;
  
}
/* BAND */

.taskbar {
  display: flex;
  justify-content: center; 
  width: 98%;
  height: 70px;
  background-color: var(--card-bg-color);
  flex-direction: row;
}

.taskbar button {
  background-color: var(--card-action-color);
}


/* TIME TRACKER */

.time-tracker {
  display: block;
  width: 70px;
  height: 50px;
  margin: 6px;
  line-height: 0;
  color: var(--card-content-color);
  background-color: var(--card-in-color);
}

.time-tracker p {
  font-weight: lighter;
}
