nav {
  display: flex;
  align-items: center;
  background-color: var(--primary-dark-color);
  padding: 8px;
  height: 32px;
}

nav img {
  height: 80%;
  aspect-ratio: 1;
  margin-right: 20px;
}

nav div.title {
  text-align: left;
  font-size: 18px;
  color: var(--primary-light-color);
}